body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #0f150f, #0c9215);
}
.menu {
  border: 2px solid black;
  border-radius: 50px 25px 30px 19px;
  margin-left: 30em;
  margin-right: 30em;
  margin-top: 13em;
  background: linear-gradient(to right, #3a4145, #0c9215);
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.id {
  margin: 2px;
}
.input_01 {
  border: 2px solid white;
  border-radius: 5px;
  width: 16em;
  height: 1.5em;
  margin: 3px;
}
.input_02 {
  border: 2px solid white;
  border-radius: 5px;
  width: 16em;
  height: 1.5em;
  margin: 3px;
}

button {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(17, 0, 128);
  font-weight: 600;
  border: 2px solid aqua;
  border-radius: 7px;
  background-color: aqua;
  width: 4rem;
  height: 2rem;
  margin: 6px;
  cursor: pointer;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 229, 219);
  font-weight: 500;
  text-overflow: ellipsis;
}
